<!DOCTYPE html>
<html>
<head>
  <title>Register Object</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <nav>
    <ul>
      <li><a href="{{ url_for('index') }}">Home</a></li>
      <li><a href="{{ url_for('register_object') }}">Register Object</a></li>
      <li><a href="{{ url_for('rent_object') }}">Rent Object</a></li>
      <li><a href="{{ url_for('return_object') }}">Return Object</a></li>
    </ul>
  </nav>
  <h1>Register Object</h1>
  <form action="" method="post">
    <label for="object_name">Object Name:</label>
    <input type="text" id="object_name" name="object_name"><br><br>
    <label for="object_description">Object Description:</label>
    <input type="text" id="object_description" name="object_description"><br><br>
    <label for="object_price">Object Price:</label>
    <input type="number" id="object_price" name="object_price"><br><br>
    <input type="submit" value="Register">
  </form>
</body>
</html>